 h1 {
	text-align: right;
 }

h3 {
	text-align: center;
}

 h4 {
	text-align: right;
 }

 .img {
	img-responsive;
 }

 p {
	text-align: center;
 }

 .col-md-4 {
	color: #7d97ad;
 }

 .col-md-12 {
	color: #02b3e4;
 }

.article {
	outline: #FFFF;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 15px;
}

col-md-12, img {
	max-width:100%;
	height: auto;
}

text {
	flex-wrap: 
}